[Desktop Entry]
Encoding=UTF-8
Name=Adobe Photoshop CS6
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Adobe Photoshop CS6" %F
Icon=/home/uisha/.PlayOnLinux//icones/full_size/Adobe Photoshop CS6
Name[fr_FR]=Adobe Photoshop CS6
StartupWMClass=Photoshop.exe
Categories=Graphics;RasterGraphics;
