*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-image: inear-gradient(to right, red , yellow);
}

h1{
    font-family: sans-serif;
    font-style: italic;
    font-weight: 900;
    padding: 50px;
}

img{
    width: 90%;
    height: 120vh;
}